<div style="text-align:center; margin: 40px;">
  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
        <p><%= flash[:error] %></p>
        </div>
      <% end %>

      <label class="amount">
        <span style="font-size: 24px">Your Payable Amount: <strong>$<%= params[:amount] %></strong></span>
      </label>
    </article>


    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_51LHAowSDZaoiuYnFWP092TNDzveSFRc10S3BpXDf0JOGtjj2MCPKauWj4B1BK6OGIZYNxExoGkf0MKaCJ0IOLijL00xFhRnsYS"
            data-description="Please provide details."
            data-amount="<%= (params[:amount].to_i * 100) %>"
            ></script>
  <% end %>
</div>
